{% extends 'base_admin.html' %} 
{% load static %}

    {% block content %}

    <h2>Panel de administracion</h2>
    <div class="caja-formulario">
      <form action="{% url 'addProduct' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="caja-input">
          <input type="text" name="producto" required />
          <label>Nombre</label>
          <i></i>
        </div>
        <div class="caja-input">
          <input type="number" name="precio" step="any" required />
          <label>Precio</label>
          <i></i>
        </div>
        <div class="caja-input">
          <p>Categoria</p>
          <select name="sl-categorias" class="form-select">
            <option selected disabled>--Seleccionar--</option>
            {% for cat in categorias %}
            <option value="{{ cat.id }}">{{ cat.categoria }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="caja-input">
          <textarea
            name="descripcion"
            placeholder="Descripción"
            id=""
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="caja-input">
          <input type="number" name="cantidad" required />
          <label>Cantidad</label>
          <i></i>
        </div>
        <div class="caja-input">
          <p>Proveedor</p>
          <select name="sl_proveedores" class="form-select">
            <option selected disabled>--Seleccionar--</option>
            <option value="elegir">Agregar Proveedor</option>
            {% for prov in proveedores %}
            <option value="{{ prov.id }}">{{ prov.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="caja-input">
          <input type="file" class="form-control-file" accept="image/png, image/jpg, image/jpeg" name="imagen">
        </div>
        <input type="submit" name="agregar" value="Agregar"/>
        <input class="btn btn-danger btnReset" type="reset" value="Cancelar"/>
        <input type="hidden" name="id_prod">
      </form>
    </div>
    <div class="contenedor">
      {% for producto in productos %}
      <div class="caja" style="width: 30%">
        <div>
          <div class="img-box">
            {% if producto.7 is not None %}
              <img src="/media/{{ producto.7 }}" alt="" />
            {% endif %}
          </div>
          <h2>{{ producto.nombre }}</h2>
          <div class="content">
            <span hidden="hidden" class="id" >{{producto.0}}</span>
            <p hidden="hidden" class="nombre">{{producto.1}}</p>
            <h2 class="producto">{{producto.1}}</h2>
            <p class="precio">Precio: {{producto.2}}</p>
            <p class="descripcion">Descripción: {{producto.3}}</p>
            <p class="cantidad">Cantidad: {{producto.4}}</p>
            <p class="categorias">Categoria: {{producto.5}}</p>
            <p class="proveedor">Proveedor: {{producto.6}}</p>
          </div>
          <div class="btns-caja">
            <button class="btn-card ver" role="link" type="button">
              <i class="fa-solid fa-eye"></i> Ver más
            </button>
            <a class="btn-card modificar" type="button">
              <i class="fa-solid fa-pen-to-square"></i> Modificar
            </a>
            <a class="btn-card eliminar" href="{% url 'deleteProduct' producto.0 %}" type="button">
              <i class="fa-solid fa-eraser"></i> Eliminar
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% comment %}
    <!--
      {% for img in imagenes %}
    {% if img.imagen.url is not None %}
    <img src="{{ img.imagen.url }}">
    {% endif %}
    {% endfor %}
    -->
    {% endcomment %}
    <script>
      const caja_contenido = document.querySelectorAll(".caja > div");
      const formulario = document.querySelector(".caja-formulario > form");
      caja_contenido.forEach((element) => {
        element
          .querySelector(".modificar")
          .addEventListener("click", function () {
            console.log(element)
            formulario.removeAttribute("action")
            formulario.setAttribute("action", "/administrador/actualizar_producto")
            formulario.querySelector("[name='id_prod']").value = element.querySelector(".content").querySelector(".id").innerText;
            formulario.querySelector("[name='producto']").value = element.querySelector(".content").getElementsByTagName("p")[0].innerText;
            formulario.querySelector("[name='precio']").value = element.querySelector(".content").getElementsByTagName("p")[1].innerText.split(" ")[1];
            formulario.querySelector("[name ='sl-categorias']").value = element.querySelector(".content").getElementsByTagName("p")[2].innerText.split(": ")[1];
            formulario.querySelector("[name='cantidad']").value = element.querySelector(".content").getElementsByTagName("p")[3].innerText.split(": ")[1];
            formulario.querySelector("[name='descripcion']").value = element.querySelector(".content").getElementsByTagName("p")[4].innerText.split(": ")[1];
            formulario.querySelector("[name='sl_proveedores']").value = element.querySelector(".content").getElementsByTagName("p")[5].innerText.split(": ")[1];
            formulario.querySelector("[name='producto']").focus();
          });

        formulario.querySelector("[name='sl_proveedores']").addEventListener("change", function(){
          if (this.value == "elegir"){
            location.href="{% url 'addProveedor' %}"
          }
        })

          function cambiar(){
          btnAgregar = document.getElementsByName("agregar").value("Modificar")
        } 
        
        
        document.querySelector(".btnReset").addEventListener("click", function () {
          formulario.removeAttribute("action")
            formulario.setAttribute("action", "/administrador/agregar_producto")
            cambiar()
        })

        document.querySelectorAll(".ver").forEach((element) => {
          const contenido =
            element.parentElement.parentElement.querySelector(".content");
          element.addEventListener("click", function () {
            console.log(element)
            contenido.classList.toggle("active");
            console.log(contenido)
            contenido.style.overflowY = "scroll";
          });
        });
      });
    </script>
    {% endblock %}
