{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="contenedor">
    <div class="caja">
      <img src="{% static 'img/casco.jpg' %}" alt="Casco 1">
      <p>Producto 1</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
    <div class="caja">
      <img src="{% static 'img/casco2.jpeg' %}" alt="Casco 2">
      <p>Producto 2</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
    <div class="caja">
      <img src="{% static 'img/casco3.jpg' %}" alt="Casco 3">
      <p>Producto 3</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
    <div class="caja">
      <img src="{% static 'img/casco3.jpg' %}" alt="Casco 4">
      <p>Producto 3</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
    <div class="caja">
      <img src="{% static 'img/casco3.jpg' %}" alt="Casco 5">
      <p>Producto 3</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
    <div class="caja">
      <img src="{% static 'img/casco3.jpg' %}" alt="Casco 6">
      <p>Producto 3</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
    <div class="caja">
      <img src="{% static 'img/casco3.jpg' %}" alt="Casco 7">
      <p>Producto 3</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident voluptates aut tempora cum, architecto deserunt. Modi, corrupti temporibus consequuntur tempore optio iure, architecto dolor quam deleniti, excepturi totam adipisci.
      </p>
    </div>
  </section>
{% endblock %}