@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #e6ece9;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

h2, h6{
    text-align: center;
    margin-top: 15px;
}

p {
    margin-top: 2px;
}

.carousel {
    margin-top: 5%;
}
/*carrito*/

.icon-cart {
    width: 40px;
    height: 40px;
    color: blanchedalmond;
    cursor: pointer;

}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: gray;
    color: #000;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products {
    position: absolute;
    top: 64px;
    right: 0;

    background-color: #fff;
    width: 500px;
    z-index: 1;
    box-shadow: 0 10px 20px rgb(0,0,0, 0.20);
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0,0,0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    color: #000;
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

/*carrito fin */

.cont-carusel {
    margin-top: 4%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


input, textarea, button {
    font-family: 'Nunito', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.caja-formulario {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja-formulario form {
    position: relative;
    width: 40%;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 2px #e1e1e1;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .caja-input {
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
}

form .caja-input input,
form .caja-input textarea {
    border: none;
    outline: none;
    padding: 8px 10px;
    width: 100%;
}

form .caja-input textarea {
    border-radius: 5px;
    resize: none;
    height: 150px;
    border: 2px solid transparent;
    border-bottom: 2px solid #010101;
    transition: .3s linear;
}
form .caja-input textarea:focus {
    border-color: #010101;
}

form .caja-input label {
    position: absolute;
    width: 100%;
    padding: 8px 10px;
    pointer-events: none;
    transition: .5s;
}


form .caja-input i {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #010101;
    transition: .5s;
}

form .caja-input input:valid ~ label,
form .caja-input input:focus ~ label {
    font-size: .8em;
    transform: translateY(-15px) translateX(-8px);
}

form > input {
    border: none;
    outline: none;
    background-color: #0386f1;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
    padding: 5px;
}

.contenedorCliente {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 85%;
    margin: 0 auto; 
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 30%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 85%;
    margin: 0 auto; 
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.caja {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    /*height: 360px;*/
    box-shadow: 2px 2px 10px #010101;
    background-color: #eeeeee;
    overflow-x: hidden;
    overflow-y: auto;

    background: rgba( 248, 246, 248, 0.8 );
    box-shadow: 0 8px 32px 0 rgba(164, 163, 163, 0.37);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.caja > div {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    background-color: transparent;
    padding: 1px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.caja .content {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    height: 0px;
    width: 100%;
    transition: .3s linear;
    
}


.content.active {
    height: 140px;
}


.content::-webkit-scrollbar {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #212121c8;
}
.content::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 20px;
}

.caja h2 {
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}

.caja .img-box {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    border: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: 100%;
    mix-blend-mode: multiply;
}

.btns-caja {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.btn-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #0386f1;
    transition: .3s linear;
    font-size: .8em;
    text-decoration: none;
    
}
.btn-card:nth-child(1){
    background: rgba( 3, 134, 241, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.btn-card:nth-child(2) {
    color: #fff;
    /*background-color: #097105;*/

    background: rgba( 47, 207, 39, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.btn-card:nth-child(3) {
    color: #fff;
    /*background-color: #097105;*/

    background: #cc0909;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.link-compra {
    text-decoration: none;
    color: #010101;
    transition: .2s linear;
}

.link-compra:hover {
    color: #17dc10;
}






