{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--<style>
    h2{
        text-align: center;
        margin-top: 20px;
    }
</style>-->


<nav class="navbar navbar-expand-lg navbar-dark fixed-top p-4" style="background-color: #29292b;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SIGSSMAC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pedidos">Mis Pedidos</a>
          </li>            
        </ul>

        <div class="container-icon">
          <div class="container-cart-icon">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon-cart"
            >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
            />
            </svg>
            <div class="count-products">
            <span id="contador-productos">0</span>
            </div>
          </div>
          
          <div class="container-cart-products hidden-cart">
            <div class="row-product">
              <div class="cart-product">
                <div class="info-cart-product">
                    <span class="cantidad-producto-carrito">1</span>
                    <p class="titulo-producto-carrito">Zapatos Nike</p>
                    <span class="precio-producto-carrito">$80</span>
                </div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="icon-close"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </div> 
            </div>
        
            <div class="cart-total">
              <h3>Total: </h3>
              <span class="total-pagar">$200</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>




<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="http://www.seripacar.com.ec/wp-content/uploads/2017/03/916153-seguridad-industrial-del-sur-sac-banner-2.jpg" class="d-block w-100" alt="...">
      </div>




<h2>Productos</h2>
<div class="contenedorCliente">
    {% for producto in productos %}
                    <div class="caja" style="width: 30%; height: auto; min-height: 300px;" >                   
                            <div class="img-box">
                                {% if producto.7 is not None %}
                                <img src="/media/{{producto.7}}">
                                <!-- <img src="img/"> -->
                                {% endif %}
                            </div>
                            <!--<h2>{{producto.nombre}}</h2>-->
                            <div class="infCar">
                              <h2 class="producto">{{producto.1}}</h2>
                              <p class="precio">$ {{producto.2}}</p>
                            </div>

                            <div class="content">
                                <span hidden="hidden">{{producto.1}}</span>
                                <!--<p class="precio">Precio: {{producto.2}}</p>-->
                                <p class="descripcion">Cantidad: {{producto.3}}</p>
                                <p class="cantidad">Descripcion: {{producto.4}}</p>
                                <p class="categorias">Categoria: {{producto.5}}</p>
                                <p class="proveedor">Proveedor: {{producto.6}}</p>
                            </div>

                            <div class="btns-caja">
                                <button class="btn-card ver" role="link" type="button"><i class="fa-solid fa-eye"></i> Ver más</button>
                                <button class="btn-card comprar" id="btnCarrito" type="button"><i class="fa-solid fa-cart-shopping"></i> Carrito</button>  
                            </div>    
                        </div> 
                        {% endfor %}
                    </div>
    
{% endblock %}