{% extends 'base.html' %}

{% block content %}
<style>

</style>
<div class="container">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h2>Compras</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Casco</td>
                    <td>2</td>
                    <td>600</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td>Googles</td>
                    <td>2</td>
                    <td>600</td>
                </tr>
    
            </tbody>
        </table>
    </div>  
</div>

{% endblock %}